{% extends 'network/layout.html' %}

{% block body %}
    <div class="mb-4">
        <h3>Posts you follows</h3>
    </div>

    <!--Display all posts-->
    {% for post in posts %}
       <p>Post</p>
    {% empty %}
        <p class="text-center">No posts.</p>
    {% endfor %}

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
            {% endif %}
                <li class="page-item"><a class="page-link active" href="#">{{ page_obj.number }}</a></li>
            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
            {% endif %}
        </ul>
    </nav>

{% endblock %}